<div class="row">
    <h1 id="art_title"><%= @article.title %></h1>
    <% if @article.user %>
        <div align="center"><%= link_to gravatar_for(@article.user), user_path(@article.user) %></div>
        <h2 id="art_auth">By <%= @article.user.username %></h2>
    <% end %>
    <div class="well col-xs-8 col-xs-offset-2">
        <%= simple_format(@article.description) %>
        <hr>
        <% if logged_in? && @article.user == current_user %>
            <%= link_to "Edit article", edit_article_path(@article), class: "btn btn-xs btn-primary" %>
            <%= link_to "Delete article", article_path(@article), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-xs btn-danger" %>
        <% end %>
        <%= link_to "Back to articles", articles_path, class: "btn btn-xs btn-success" %>
    </div>
</div>
